.cartIcon {
  position: relative;
  margin-left: auto;
  font-size: 1.5rem;
  color: #5d4037;
  text-decoration: none;
}

.cartCount {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color:#c89b3c;/*#d32f2f;*/
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1;
}

.header {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
padding-bottom: 0.5rem;
padding-left: 1rem;
padding-right: 1.5rem;
  background-color: #fffdfb;/*#fbe9e7;*/
  border-bottom: 2px solid #fbe9e7;/*#d7ccc8;*/
  top: 0;
  z-index: 999;
}

.brand {
  font-size: 1.3rem;
  font-weight: 700;
  color: #4e342e;
  text-decoration: none;
  margin: 0 auto; 
}

.hamburger {
  font-size: 28px;
  background: #fffdfb;:/*linear-gradient(to right, #8d6e63, #6d4c41);*/
  border: none;
  color: #4e342e;/*#fff;*/
  border-radius: 8px;
  padding: 0rem;/*0.4rem 0.8rem;*/
  cursor: pointer;
  margin: 0;
  /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;*/
}

.hamburger:hover {
  background: #fffdfb;/*linear-gradient(to right, #a1887f, #5d4037);*/
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 270px;
  height: 100vh;
  backdrop-filter: blur(10px);
  background: #fffdfb;/*linear-gradient(to bottom, #fbe9e7, #fff3e0);*/
  border-right: 2px solid #d7ccc8;
  box-shadow: 6px 0 20px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  transition: transform 0.35s ease-in-out;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  transform: translateX(0);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.menu a {
  background: linear-gradient(to right, #efebe9, #d7ccc8);
  border: 1px solid #a1887f;
  color: #4e342e;
  padding: 0.75rem 1.2rem;
  border-radius: 10px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu a:hover {
  background: linear-gradient(to right, #bcaaa4, #a1887f);
  color: #3e2723;
  transform: translateX(4px);
}

.closeButton {
  align-self: flex-end;
  font-size: 28px;
  background: none;
  border: none;
  color: #4e342e;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.closeButton:hover {
  transform: rotate(90deg);
}